<!-- engineers-list.component.html -->
<section class="margin-32">
    <div class="engineer-cards">
        <div class="space-content">
            <div *ngIf="loading">Loading...</div>
            <div *ngIf="error">Error: {{ error }}</div>
            <ng-container *ngIf="!(loading || error)">
                <app-engineer-card *ngFor="let engineer of engineers$ | async" [engineer]="engineer"></app-engineer-card>
            </ng-container>
        </div>
        <div class="navigation">
            <button (click)="prev()">Previous</button>
            <button (click)="next()">Next</button>
        </div>
    </div>
</section>