<!-- engineer-card.component.html -->
<div class="card">
    <div class="card__header">
        <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-user"
                width="100"
                height="100"
        >
            <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
            <circle cx="12" cy="7" r="4"></circle>
        </svg>
    </div>

    <div class="card__body">
        <h2 class="card__title">{{ engineer.candidateName }}</h2>
        <p class="card__role">Engineer • {{ engineer.percentage }} Match</p>
        <p class="card__summary">{{ engineer.description }}</p>
    </div>

    <div class="card__tech-stack">
        <h3>Tech Stack:</h3>
        <div class="card__tech-items">
            <span *ngFor="let skill of engineer.topSkills.split(', ')" class="card__tech-item">{{ skill }}</span>
        </div>
    </div>

    <div class="card__footer">
        <span class="card__rate">Rate: ${{ engineer.hourRate }}/hour</span>
    </div>
</div>