---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import EmpyState from '../components/EmpyState.astro'
import { Modal } from 'accessible-astro-components'
import {AlertComponent } from '../components/alert.component';
import {AngSpeachtoText} from '../components/AngSpeachtoText/AngSpeachtoText';
import Icon from 'astro-icon';

const { show } = Astro.props

let toshow:boolean = false;

---

<DefaultLayout title="Products">
  <section>
    <h1>Ready to evaluate the request</h1><br>
  </section>
  <section class="margin-32">

    <div class="space-content">
      <h2>Analisys type</h2>
      <AngSpeachtoText client:visible client:only/>
      <!-- <button ></button> -->  
    <div id="notice" style="display: none">
      <EmpyState>
        The Scope is ready to be evalauted, save it before continuing.
      </EmpyState>
    </div>
      
      <button id="modal-trigger" class="button color-secondary">Add your opportunity</button>
      <Modal
        triggerId="modal-trigger"
        title="Add product"
        closeText="Cancel"
      >
        <p>You can use this component to include a form that adds a new product to the list.</p>
      </Modal>
    </div>
  </section>
</DefaultLayout>
<script is:inline src="https://code.jquery.com/jquery-3.7.0.min.js"></script>

<script >
  import {notice} from '../shared/shared';
  let shownotice!:any;

  notice.subscribe(show => {
console.log('show ', show);
shownotice = show;
 show ? document.getElementById('notice')!.style.display = 'block' : '';

});
</script>
